{% extends 'layout.html' %}
{% load static %}


{% block title %}
  My Resumes
{% endblock title %}



{% block content %}

  <main class="max-w-4xl p-8 mx-auto my-6 flex flex-col gap-12  ">
    <h1 class="text-3xl font-bold text-center text-slate-600" >Panda Jobs - My Resumes</h1>
    
    <section id="upper-options-section" class="flex flex-row gap-4 ">
      <a href="{% url 'my_resumes_create' %}" class="ml-8 text-center py-1 px-4 rounded-xl bg-emerald-600 text-white hover:bg-emerald-400 text-lg">New Resume Profile</a>
    </section>

    <section id="resumes-list-wrapper" class="flex flex-col gap-4 py-7 border-t-2 border-slate-700">
      
      <!-- loop through resumes -->
      {% for job_applicant in job_applicant %}

        <div class="flex flex-row gap-4 justify-between flex-wrap border-b-2 pb-7  border-slate-700">
          <div class="flex flex-row gap-4 flex-wrap">
            <h2 class="text-xl text-slate-600"> <a href="{% url 'my_resumes_detail' job_applicant.id %}"> {{ job_applicant }} </a></h2>
            <!-- <p class="text-lg text-slate-600 break-all">{{ job_applicant.resume_file }}</p> -->
          </div>
          <div class="flex flex-row gap-4  flex-wrap">
            <a href="{% url 'my_resumes_edit' job_applicant.id %}"class="text-center py-1 px-4 rounded-xl bg-emerald-600 text-white hover:bg-emerald-400 text-lg">Edit</a>
            <form action="/resumes/create/{{job_applicant.id}}/delete/" method="POST">
              {% csrf_token %}
              <button type="submit" class="text-center py-1 px-4 rounded-xl bg-red-600 text-white hover:bg-red-400 text-lg">Delete</button>
            </form>
          </div>
        </div>

      {% endfor %}
    </section>

  </main>
{% endblock content %}
  