{% load static %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'css/output.css' %}">

<header class="p-4 border-b-2 border-slate-400 bg-indigo-200 flex flex-row text-xl">
  <picture class="">
    <a href="/">
      <img src="{% static 'img/logo3.png' %}" alt="Company Logo" class="">
    </a>
  </picture>

  <nav class="flex flex-row justify-between grow items-center  px-8">
    <div class="gap-4 flex flex-row mr-auto">
      <a href="/jobs" class="">Jobs</a>
      <a href="/companies" class="">Companies</a>
    </div>
    <div class="gap-4 flex flex-row">
      {% if user.is_authenticated %}
      <a href="/profile" class="">Profile</a>
      <a href="/logout" class="">Logout</a>
      {% else %}
      <a href="/login" class="">Login</a>
      <a href="/register" class="">Register</a>
      {% endif %}
    </div>
  </nav>

  </header>
{% endblock header %}