{% extends 'layout.html' %}
{% load static %}

<!-- load crispy forms -->
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load crispy_forms_filters %}

{% block title %}
  Edit Company
{% endblock title %}



{% block content %}

  <main class="max-w-xl p-8 mx-auto my-6 ">
    <h1 class="text-3xl font-bold text-center text-slate-600">Panda Jobs - Edit Company</h1>
    
    
    <form action="" method="POST" class="my-12 flex flex-col items-center gap-4 ">
      {% csrf_token %}

      <!-- add form invalid message -->
      {% if form.errors %}
        <p class="text-red-500 text-xs italic">Please fix the errors below.</p>
      {% endif %}
      

      <!-- use fields individually and labels not entire form -->
      {{ form.company_name|as_crispy_field }}
      {{ form.industry|as_crispy_field }}
      {{ form.location|as_crispy_field }}


      <!-- submit -->
      <button type="submit" class="py-2 my-4 px-8 rounded-xl bg-purple-500 text-white hover:bg-purple-400 grow">Edit Company</button>
    </form>

  </main>
{% endblock content %}
